.dropdown {
  position: absolute;
  top: 39.8rem;
  right: 10.8rem;
  width: 120px;
  padding: 13px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid gray;
}
.dropdown::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: 2.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}
